/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2; /*offwhite*/

	/* default font */
	font-family: 'Noto Sans', sans-serif;
}

/* target the html element called body */
/* start body */
body {
	/*background-color: skyblue;*/
	background-image: linear-gradient(to bottom right, rgba(37, 219, 148, .25), rgba(220, 66, 37, .25)), url('../images/bg.jpg');
	/*background-image: url('https://media.giphy.com/media/nTVsJYBOVs8tG/giphy.gif');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* viewport height is the height of the screen */
	height: 100vh;
}

/* end body */

.container {
	width: 500px;
	margin: 0 auto; /* this centers the element horizontally */
	text-align: center;
}

/* start h1*/
h1	{
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: rgba(143, 34, 12, .75); 
	font-family: 'Lato', sans-serif;
}

/* end h1*/

/* start h2*/
h2{
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px; 
	background-color: rgba(51,51,51,0.5); /*only affects actual bg color*/
	/*background-color: rgb(51,51,51);
	opacity: 0.5;*/ /*affects all elements inside targeted element*/
	
	border-radius: 10px;

	/*padding vs margin*/
	/*margin: 10px; adds space outside of the element*/
	padding: 10px; /*adds space inside the element*/
}
/*end h2*/

/* target the element with the class bio*/
.bio {
	font-size: 18px;
	/* multiplied to the current line height */
	line-height: 1.75; 
	background-color:rgba(0, 143, 87, .75);
}

/*end bio*/

/* targets the element with the id me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: rgba(0, 143, 87, .75);
	border-width: 3px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}

/* end of if me */
